*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.what-is-zealy{
    overflow: hidden;
}
/* .zealy-container{
    width: 100%;
} */
.contain-zealy-data{
    color: black;
    overflow-y: scroll;
    /* border: 1px solid blueviolet; */
    /* background-color: red; */
    width: 1100px;
    height: 88%;
    position: absolute;
    top: 70px;
    left: -99px;

}
.contain-zealy-data .upper-img img{
    width: 100%;
    height: 200px;
}
#list-example{
    color: black;
    background-color: white;
    /* position: fixed; */
    /* right: 50px;       */
    /* left: 900px; */
    height: 100%;
    width: 200px;

}
#list-example p{
    font-size: 12px;
    color: #a8b4bf;    
    font-weight: 700;
}
#list-example a{
    margin-left: 12px;
    padding: 6px;
    font-size: 13px;
    color: #a8b4bf;    
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}
#list-example a:hover{
    color: #d6409f;
}
.content{
    color: black;
    width: 720px;
    height: 100vh;
}
.content h1{
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    color: #3b454e;
}
.content p{
    color: #3b454e;
}
.content p span{
    font-size: 16px;
    font-weight: 700;

    color: #3b454e;
}
.content h3{
    margin-top: 40px;
    margin-left: 8px;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    color: #3b454e;
}
.content .video{
    width: 100%;
    /* height: 240px; */
}
.guides ul li{
    cursor: pointer;
    margin: 12px;
    padding: 25px;
    border: 1px solid #e3e8ed;
    transition: 0.4s;
}
.guides ul li:hover{
    color: #d6409f;
    transform: translateY(-3px);
}
@media(max-width:989px){
   .doc-side-bar{
    display: none;
   }
  }
  .pink-color-text{
    color: #d6409f;
  }
  .bottom-btn {
    display: flex;
    align-items: center;
    color: #000000;
    justify-content: center;
    transition: 0.4s;
}
.bottom-btn  a{
    color: #000000;
}

  .bottom-btn .item-1,.item-2{
    font-style: 16px;
    font-weight: 500;
    color: #000000;
    border: 1px solid #a8b4bf;
    padding: 15px 42px 15px 42px;
    margin: 12px;
    transition: 0.4s;
}
.bottom-btn li{
    display: flex;
    list-style: none;
}
.bottom-btn .item:hover{
    cursor: pointer;
    border: 1px solid #3b454e;    
    transform: translateY(-3px);
}