.zealy_doc_Body{
    background-color: #ffff;
    width: 100%;
    height: 100vh;
    color: black;
}

.navbar img{
    cursor: pointer;
}
.nav-item1 .nav-link{
    
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
}

.doc-nav-input{
    width: 180px;
    height: 40px;
}
@media (max-width: 1112px) {
    .logo-heading{
        display: none;
    }
}
@media (max-width: 991px) {
    .doc-nav-input{
        display: none;
    }
}