.footer-container{
    width: 95%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.footer-container .text{
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: rgba(255, 255, 255, 0.447);
}
.footer-container .footer-heading{
    font-size: 12px;
    font-family:  sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}
.footer-container .btn{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.447);
    margin: 2px;
}
.footer-container .btn:hover{
    color: white;
}

.last-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  rgba(255, 255, 255, 0.447);
}
.last-data .left{
    display: flex;
}
.last-data .left a,p{
    margin: 12px;
    color:  rgba(255, 255, 255, 0.447);
}
.last-data .right a{
    margin: 8px;
    color:  rgba(255, 255, 255, 0.447);
}
.last-data .right {
    padding-right: 70px;
}
.last-data a:hover{
    text-decoration: none;
    color: white;
}
.last-data .right a i:hover{
    cursor: pointer;
    color: white;
}