.login-container .login-right img{
    width: 100%;
    mix-blend-mode: lighten;
}
.login-container .login-left{
    background-color: #161616;
}
.login-container .login-left ul li img{
    width: 30px;
    height: 30px;
}
.login-container .login-left ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-container .login-left ul button{
    padding: 8px;
    border-radius: 14px;
    font-size: 14px;
    color: white;
    background-color: #232323;
    border: 1px solid #3c3c3c;
    cursor: pointer;
}
.login-container .login-left ul p{
    color: #ffffff97;
    font-size: 14px;
}

/* Login-Body */
.login-container .login-body{
    margin: auto;
    width: 80%;
}
.login-container .login-body .contain-login-data h3{
    font-family: 'Syne', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.92);
}

.login-container .login-body .contain-login-data p{
    color: #ffffff97;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.login-container .login-body .contain-login-data .buttons .btn{
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    width: 100%;
    height: 45px;
    border-radius: 16px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.92);
    background-color: #232323;
    border: 1px solid #3c3c3c;
    cursor: pointer;
}

.login-container .login-body .contain-login-data .login-form{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.92);
    font-weight: 500;
}
.login-container .login-body .contain-login-data .login-form input{
    width: 100%;
    height: 45px;
    font-size: 18px;
    border-radius: 16px;
    padding-left: 8px;
    background-color: transparent;
    border: 1px solid #3c3c3c;
}
.login-container .login-body .contain-login-data .login-btn{
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    width: 100%;
    height: 45px;
    border-radius: 16px;
    font-size: 18px;
    color: #ffffff97;
    background-color: #232323;
    border: 1px solid #3c3c3c;
    cursor: pointer;
}

/* hover-Sections */
.login-container .login-body .contain-login-data .buttons .btn:hover{
    border: 1px solid #1c1c1c;    
}
.login-container .login-left ul button:hover{
    border: 1px solid #1c1c1c;    
}
.login-container .login-body .contain-login-data .login-btn:hover{
    border: 1px solid #1c1c1c;
}


@media(max-width:989px){
    .login-right{
        display: none;
    }
    .login-left{
        width: 100%;
    }
}
