@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Syne:wght@700;800&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Syne', sans-serif; */

.components-wrapper{
  border: 2px solid white;
  width: 90%;
  margin-left: 5%;
}

/* NAVIGATION BAR CSS */

.nav{
  background-color: #0d0d0d;
  padding-top: 8px;
  border-color: none;
}
.navbar-Logo img{
  width:30%;
}
.collapse{
  margin-left: -30%;
}
nav a{
  color: white;
}
nav a:hover{
  color: white;
  /* background-color: rgb(13,13,13,0.1); */
  background-color: rgb(32,33,36,0.9);
  /* background-color: red;  */
  border-radius: 12px;
}
.navbar-nav  li{
  padding: 8px;
}
.navbar-toggler-icon{
  color: black  ;
}

/* Dropdown menu */
.dropdown-menu{
  background-color: #1a1a1a;
  border-radius: 15px;
}
.dropdown-menu a{
  color: white;
}

/* .dropdown-item{
  position: relative;
} */

.dropdown-item p{
  color: rgb(139, 137, 137);
}

.dropdown-item:hover{
  background-color: rgb(32,33,36,0.9);
  color: white;
}
/* .dropdown-menu a img{
  position: relative;
  width: 50%;
  transform: rotate(90deg);
} */