@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Syne:wght@700;800&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Syne', sans-serif; */

.nav-components-wrapper{
  width: 90%;
  margin-left: 5%;

}
.components-wrapper{
  border: 1px solid #2c2c2c;
  width: 90%;
  margin-left: 5%;
}

/* NAVIGATION BAR CSS */

.nav{
  /* border: 1px solid #2c2c2c; */
  position: fixed;
  top: 0;
  background-color: transparent;
  padding-top: 8px;
  border-color: none;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.navbar-Logo img{
  width:30%;
}

nav a{
  color: white;
}
.first-nav a:hover{
  color: white;
  /* background-color: rgb(13,13,13,0.1); */
  background-color: rgb(32,33,36,0.9);
  /* background-color: red;  */
  border-radius: 12px;
}
.navbar-nav  li{
  padding: 8px;
}
.navbar-toggler-icon{
  color: black  ;
}
.nav-item a{
  color: white;
  align-items: center;
}

.first-nav{
  margin-left: -19%;
}
/* Dropdown menu */
.dropdown-menu{
  background-color: #1a1a1a;
  /* background-color: red; */
  border-radius: 15px;
  padding-right: 120px;
  z-index: 1;

}

.dropdown{
  z-index: 0;
}
.dropdown-menu a{
  color: white;
}

.dropdown-menu .res-img{
  /* padding: 0; */
  margin: 0;  
  position: relative;
  left: 18px;
  border-radius: 12px;
  background-color: #1b438d;
  width: 120px;
  height: 220px;
}
/* .dropdown-item{
  position: relative;
} */

.dropdown-item p{
  color: rgb(139, 137, 137);
}

.dropdown-item:hover{
  background-color: rgb(32,33,36,0.9);
  color: white;
  border: 12px;
}
/* .dropdown-menu a img{
  position: relative;
  width: 50%;
  transform: rotate(90deg);
} */

ul{
  list-style: none;
}
.second-ul{
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25%;
}
.second-ul li{
  margin: 5px;
}
.second-ul .btn{
  border-radius: 14px;
}

.second-ul .btn1:hover{
  background-color: rgb(32,33,36,0.9);
  color: white;
}
.second-ul .btn2:hover{
  background-color: rgb(236,236,236,0.9);
}

.nav-item:hover{
  cursor: pointer;
  background-color: rgb(32,33,36,0.9);
  border-radius: 14px;
}


/* MEDIA QUERY FOR TOGGLER:start */

@media(max-width:989px){
  .collapse{
      background-color: red;
      color: white;
  }
  .collapse li{
    display: flex;
    justify-content: center;
  }
}


